.App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: black;/* Deep navy for a mpodern look*/
    color: #e4e4e4;/*Light gray for text contrast*/
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffdf8b;/*Brand color for the header*/
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
